@model Teacher
<div class="container-60">

    <form id="newteacherform" role="form">
        @Html.HiddenFor(m => m.Id);
        <div class="margin-bottom-1 flex-column">
            @Html.LabelFor(m => m.EmployeeNumber, "Employee Number")
            @Html.TextBoxFor(m => m.EmployeeNumber)
            @Html.ValidationMessageFor(m => m.EmployeeNumber, null, new { @class="error" })
        </div>
        <div class="margin-bottom-1 flex-column">
            @Html.LabelFor(m => m.FirstName, "First Name")
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class="error" })
        </div>
        <div class="margin-bottom-1 flex-column">
            @Html.LabelFor(m => m.LastName, "Last Name")
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName, null, new { @class="error" })
        </div>
        <div class="margin-bottom-1 flex-column">
            @Html.LabelFor(m => m.HireDate, "Hire Date")
            @Html.TextBoxFor(m => m.HireDate)
            @Html.ValidationMessageFor(m => m.HireDate, null, new { @class="error" })
        </div>
        <div class="margin-bottom-1 flex-column">
            @Html.LabelFor(m => m.Salary, "Salary")
            @Html.TextBoxFor(m => m.Salary)
            @Html.ValidationMessageFor(m => m.Salary, null, new { @class="error" })
        </div>
        <div class="flex-row">
            <button type="button" role="button" onclick="save()">Save</button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
        integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            $.validator.unobtrusive.parse($("#newteacherform"));
        })

        function save() {
            if ($("#newteacherform").valid()) {
                var teacher = $("#newteacherform").serialize();
                $.ajax({
                    url: "teacherdata/update",
                    type: "POST",
                    data: teacher,
                    success: function () {
                        window.location = "teacher/list"
                    },
                    error: function (r,e) {
                        console.log(e);
                        alert("Error occured");
                    }
                });
            }
            return false;
        }
    </script>
}